h1 {
	color: #FFFFFF;
}

p {
	color:#000000;
	font-family: helvetica;
}

#span{
	color: #FFFFFF;
}

#cabecera {

	height: 80px;
	background-color: darkorange;
	border-radius: 15px; 
	text-align: center;
}

#imagen1 {

	height: 500px;

}

#cuadro1{
	width: 25%;
	height:50%;
	border: thin;
	float: left;
	color: red;
}

#texto1{
	padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        position: relative;
}



#t1izquierda{
	width: 33.3%;
    padding: 0px;
    margin-left: 0px;
    background-color: darkred;
    float: left;
}

#t1centro{
	width: 33.3%;
        
    background-color: darkorange; 
    float: left;
}

#t1derecha{
	width: 33.3%;
       
    background-color: darkred;             
    float: left;
}



